{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->
{{ collection:events limit="1" sort="date:desc" }}
    <div
        class="border-b border-orange-600 bg-gradient-to-r dark:border-b dark:border-neutral-100/10 dark:from-neutral-800 dark:to-neutral-900 from-orange-400 to-orange-500 ">
        <div
            class="relative flex items-center max-w-6xl gap-6 px-3 py-2 mx-auto overflow-hidden text-sm text-neutral-800 max-lg:gap-2 whitespace-nowrap dark:text-neutral-900 text-ellipsis">
            <span
                class="dark:text-neutral-100 font-semibold bg-neutral-700 dark:bg-orange-700 inline-block max-md:hidden mr-0.5 px-2 py-1 rounded-md rtl:ml-0.5 rtl:mr-0 text-xs text-neutral-100">✨
                New Event</span>
            <a class="flex items-center gap-2 font-medium dark:text-orange-500 hover:underline text-muted max-lg:text-xs"
                href="https://events.humanitix.com/migrants-in-tech-auckland-meet-up-april-2025">
                <svg class="text-orange-800 lucide dark:text-orange-500 size-4 lucide-calendar" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2">
                    <path d="M8 2v4"></path>
                    <path d="M16 2v4"></path>
                    <rect height="18" rx="2" width="18" x="3" y="4"></rect>
                    <path d="M3 10h18"></path>
                </svg>
                {{ type }} - {{ date }}, {{ time_start }} - {{ time_end }} NZDT
            </a>
            <a class="flex items-center gap-2 font-medium dark:text-orange-500 hover:underline text-muted max-md:hidden"
                href="https://maps.app.goo.gl/RVxetRMsyCSSabRa8">
                <svg class="text-orange-800 lucide dark:text-orange-500 size-4 lucide-map-pin" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2">
                    <path
                        d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0">
                    </path>
                    <circle cx="12" cy="10" r="3"></circle>
                </svg>
                {{ location }}
            </a>
            <a class="relative inline-flex items-center justify-center h-8 px-6 ml-auto overflow-hidden font-medium transition rounded-md bg-neutral-950 dark:bg-orange-500 dark:text-white group hover:scale-110 text-neutral-200"
                href="https://events.humanitix.com/migrants-in-tech-auckland-meet-up-april-2025/tickets" target="_blank"
                title="Get tickets"><span class="hidden lg:block">Get tickets</span>
                <span class="block lg:hidden">Tickets</span>
                <div
                    class="flex absolute justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:[transform:skew(-12deg)_translateX(100%)] group-hover:duration-1000 h-full inset-0 w-full">
                    <div class="relative w-8 h-full bg-white/20"></div>
                </div>
            </a>

            {{ partial:components/button button_type='button' :type='type' :label="text" :url="url" :inverted="false" target_blank="true" }}
        </div>
    </div>
{{ /collection:events }}


<header class="w-full max-w-6xl px-3 py-4 mx-auto">
    <div class="z-10 flex items-center justify-between span-content isolate">
        {{# Make partials you want to use for the header or use and edit premade examples like the following ones. #}}
        {{ partial:components/logo width="120" }}
        {{ partial:navigation/main }}
    </div>
</header>
<!-- End: /layout/_header.antlers.html -->