{{#
    @name Full width image
    @desc The Full width image page builder block.
    @set page.page_builder.full_width_image
#}}

<!-- /page_builder/_full_width_image.antlers.html -->
{{ big_image }}
    {{ partial src="statamic-peak-tools::components/picture" :image="url" class="hidden -translate-y-24 lg:block mx-auto w-[1768px]" sizes="(min-width: 1024px) 1700px, 492px" lazy="false" }}
    {{ partial src="statamic-peak-tools::components/picture" :image="url" class="block lg:hidden" sizes="450px" lazy="false" }}
{{ /big_image }}

<!-- End: /page_builder/_full_width_image.antlers.html -->