{{#
    @name Full width image
    @desc The Full width image page builder block.
    @set page.page_builder.full_width_image
#}}

<!-- /page_builder/_full_width_image.antlers.html -->
<div>
	{{ big_image }}
		{{ partial src="statamic-peak-tools::components/picture" :image="url" class="hidden lg:block mx-auto w-[1768px]" sizes="(min-width: 1024px) 1700px, 492px" lazy="true" }}
		{{ partial src="statamic-peak-tools::components/picture" :image="url" class="block lg:hidden" sizes="200px" lazy="true" }}
	{{ /big_image }}
</div>
<!-- End: /page_builder/_full_width_image.antlers.html -->