{{#
    @name hero-home
    @desc The hero-home page builder block.
    @set page.page_builder.hero_home
#}}

<!-- /page_builder/_hero_home.antlers.html -->
<main>
	<div class="relative isolate">
		<div class="overflow-hidden">
			<div class="mx-auto max-w-6xl px-6 lg:px-8 ">
				<div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
					<div class="w-full max-w-xl lg:shrink-0 z-10 xl:max-w-2xl">
						{{#
          <div class="my-12">
           {{ collection:events }}
            <a href="{{ url }}" class="flex flex-col gap-y-2 w-fit text-sm dark:text-neutral-400 text-neutral-600">
             <h1 class="dark:text-orange-300 text-neutral-600 tracking-[-0.18px]">✨ Upcoming
              Event
             </h1>
          
             <div class="relative z-30 flex flex-col gap-y-1">
              <h3 class="font-bold tracking-[-0.18px] leading-snug">{{ title }}</h3>
              <div class="flex items-center gap-2 tracking-[-0.18px]">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                 d="M7.5 1.66666V3.33332H12.5V1.66666H14.1667V3.33332H17.5V17.5H2.5V3.33332H5.83333V1.66666H7.5ZM15.8333 9.16666H4.16667V15.8333H15.8333V9.16666Z"
                 fill="currentColor"></path>
               </svg>
               {{ type }} - {{ date }}, {{ time_start }} - {{ time_end }} NZDT
              </div>
          
          
              <div class="flex gap-2 items-center tracking-[-0.18px]">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                 d="M10.4935 18.1712L10.495 18.1701L10.4997 18.1667L10.5151 18.1552C10.5281 18.1455 10.5465 18.1316 10.57 18.1137C10.6168 18.078 10.6839 18.0263 10.7683 17.9595C10.9368 17.8257 11.1748 17.6311 11.4592 17.3828C12.0268 16.8872 12.7852 16.1725 13.5458 15.2959C15.0394 13.5745 16.6663 11.0876 16.6663 8.33329C16.6663 4.65139 13.6816 1.66663 9.99967 1.66663C6.31777 1.66663 3.33301 4.65139 3.33301 8.33329C3.33301 11.0876 4.95988 13.5745 6.4536 15.2959C7.21421 16.1725 7.97251 16.8872 8.54017 17.3828C8.82451 17.6311 9.06259 17.8257 9.23109 17.9595C9.31542 18.0263 9.38251 18.078 9.42934 18.1137C9.45284 18.1316 9.47126 18.1455 9.48426 18.1552L9.49967 18.1667L9.50434 18.1701L9.50642 18.1716L9.99967 18.5334L10.4935 18.1712ZM9.99784 10.4166C11.1484 10.4166 12.0812 9.48388 12.0812 8.33329C12.0812 7.1827 11.1484 6.24996 9.99784 6.24996C8.84726 6.24996 7.91451 7.1827 7.91451 8.33329C7.91451 9.48388 8.84726 10.4166 9.99784 10.4166Z"
                 fill="currentColor"></path>
               </svg>
               {{ location }}
              </div>
             </div>
            </a>
           {{ /collection:events }}
          </div>
      #}}
						<div class="flex flex-col -space-y-12">
							<h1
								class="h-auto w-full -mx-4 overflow-visible text-[6rem] leading-[4.5rem] tracking-[-0.5rem] md:text-[16rem] md:leading-[12rem] md:tracking-[-1rem] text-[#E03E1A] font-bold uppercase ">
								{{ title }}
							</h1>
							<span class=" text-2xl tracking-tight leading-6 order-first "> {{ subheader }} </span>
						</div>
					</div>
					<div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
						<div
							class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
							<div class="relative">
								{{ photo offset="0" limit="1" }}
									{{ if type == "pic" }}
										<div class="relative">
											{{ image }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] w-full hidden xl:block rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="(min-width: 1024px) 500px, 400px" lazy="true" }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] xl:hidden w-full rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="200px" lazy="true" }}
											{{ /image }}
											<div
												class="pointer-events-none absolute inset-0 rounded-md ring-1 ring-inset ring-neutral-900/10 dark:ring-neutral-100/10">
											</div>
										</div>
									{{ /if }}
								{{ /photo }}
							</div>
						</div>
						<div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
							<div class="relative">
								{{ photo offset="0" limit="1" }}
									{{ if type == "pic" }}
										<div class="relative">
											{{ image }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] w-full hidden xl:block rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="(min-width: 1024px) 500px, 400px" lazy="true" }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] xl:hidden w-full rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="200px" lazy="true" }}
											{{ /image }}
											<div
												class="pointer-events-none absolute inset-0 rounded-md ring-1 ring-inset ring-neutral-900/10 dark:ring-neutral-100/10">
											</div>
										</div>
									{{ /if }}
								{{ /photo }}
							</div>
							<div class="relative">
								{{ photo offset="0" limit="1" }}
									{{ if type == "pic" }}
										<div class="relative">
											{{ image }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] w-full hidden xl:block rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="(min-width: 1024px) 500px, 400px" lazy="true" }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] xl:hidden w-full rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="200px" lazy="true" }}
											{{ /image }}
											<div
												class="pointer-events-none absolute inset-0 rounded-md ring-1 ring-inset ring-neutral-900/10 dark:ring-neutral-100/10">
											</div>
										</div>
									{{ /if }}
								{{ /photo }}
							</div>
						</div>
						<div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
							<div class="relative">
								{{ photo offset="0" limit="1" }}
									{{ if type == "pic" }}
										<div class="relative">
											{{ image }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] w-full hidden xl:block rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="(min-width: 1024px) 500px, 400px" lazy="true" }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] xl:hidden w-full rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="200px" lazy="true" }}
											{{ /image }}
											<div
												class="pointer-events-none absolute inset-0 rounded-md ring-1 ring-inset ring-neutral-900/10 dark:ring-neutral-100/10">
											</div>
										</div>
									{{ /if }}
								{{ /photo }}
							</div>
							<div class="relative">
								{{ photo offset="0" limit="1" }}
									{{ if type == "pic" }}
										<div class="relative">
											{{ image }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] w-full hidden xl:block rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="(min-width: 1024px) 500px, 400px" lazy="true" }}
												{{ partial src="statamic-peak-tools::components/picture" :image="url" class="aspect-[3/4] xl:hidden w-full rounded-md bg-neutral-900/5 object-cover shadow-lg" sizes="200px" lazy="true" }}
											{{ /image }}
											<div
												class="pointer-events-none absolute inset-0 rounded-md ring-1 ring-inset ring-neutral-900/10 dark:ring-neutral-100/10">
											</div>
										</div>
									{{ /if }}
								{{ /photo }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- End: /page_builder/_hero_home.antlers.html -->