{{#
    @name hero-home
    @desc The hero-home page builder block.
    @set page.page_builder.hero_home
#}}

<!-- /page_builder/_hero_home.antlers.html -->
<main>
	<div class="relative isolate">
		<div class="overflow-hidden">
			<div class="max-w-6xl px-4 mx-auto lg:px-8 ">
				<div class="max-w-2xl mx-auto -space-x-24 xl:mx-0 lg:flex xl:max-w-none xl:items-center">
					<div class="z-10 w-full max-w-xl isolate lg:shrink-0 xl:max-w-2xl">
						<div class="flex flex-col xl:-space-y-12">
							<h1
								class="h-auto w-full text-shadow-2xl xl:-mx-4 -mx-2 overflow-visible text-[6rem] leading-[4.5rem] tracking-[-0.5rem] md:text-[16rem] md:leading-[12rem] md:tracking-[-1rem] dark:text-white font-bold uppercase ">
								{{ title }}
							</h1>
							<span
								class="order-first text-2xl leading-6 tracking-tight text-orange-500 dark:text-orange-500 ">
								{{ subheader }}
							</span>
						</div>
					</div>
					<div class="relative flex justify-end max-xl:hidden sm:justify-start sm:pl-20 lg:pl-0 ">
						<div class="grid flex-none grid-cols-6 -space-x-6 -space-y-8">
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-orange-500 dark:from-amber-500/0 to-orange-300 from-amber-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-yellow-500 dark:from-lime-500/0 to-yellow-300 from-lime-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-green-500 dark:from-emerald-500/0 to-green-300 from-emerald-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-orange-500 dark:from-amber-500/0 to-orange-300 from-amber-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-yellow-500 dark:from-lime-500/0 to-yellow-300 from-lime-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-green-500 dark:from-emerald-500/0 to-green-300 from-emerald-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-teal-500 dark:from-cyan-500/0 to-teal-300 from-cyan-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-pink-500 dark:from-green-500/0 to-pink-300 from-green-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-sky-500 dark:from-blue-500/0 to-sky-300 from-blue-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-teal-500 dark:from-cyan-500/0 to-teal-300 from-cyan-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-pink-500 dark:from-green-500/0 to-pink-300 from-green-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-sky-500 dark:from-blue-500/0 to-sky-300 from-blue-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-indigo-500 dark:from-purple-500/0 to-indigo-300 from-purple-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-fuchsia-500 dark:from-teal-500/0 to-fuchsia-300 from-teal-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-rose-500 dark:from-red-500/0 to-rose-300 from-red-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-indigo-500 dark:from-purple-500/0 to-indigo-300 from-purple-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-fuchsia-500 dark:from-teal-500/0 to-fuchsia-300 from-teal-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
							<div
								class="relative size-32 rotate-z-45 rotate-x-45 shadow-2xl dark:shadow-neutral-800/100 shadow-neutral-50/100 bg-gradient-to-l dark:to-rose-500 dark:from-red-500/0 to-rose-300 from-red-300/0 ring-8 dark:ring-[#18181A]/0 ring-[#E8E7E8]/0 ">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- End: /page_builder/_hero_home.antlers.html -->