{{#
    @name Horizontal Title and description
    @desc The Horizontal Title and description page builder block.
    @set page.page_builder.horizontal_title_and_description
#}}

<!-- /page_builder/_horizontal_title_and_description.antlers.html -->
<section class="py-24 flex flex-col justify-start items-start gap-6">
	<div class="py-6 mx-auto max-w-6xl flex justify-start items-start gap-24">
		{{ partial:components/section_title title="Our Mission" url="false" description="Our mission is to empower migrants New Zealand by fostering connections, providing learning opportunities, and supporting their journey into the tech sector. We are dedicated to creating a welcoming and inclusive community where members can grow, thrive, and make a meaningful impact in the region’s vibrant tech ecosystem." }}
	</div>
</section>
<!-- End: /page_builder/_horizontal_title_and_description.antlers.html -->