{{#
    @name Past Events
    @desc The Past Events page builder block.
    @set page.page_builder.past_events
#}}

<!-- /page_builder/_past_events.antlers.html -->
<section class="mx-auto max-w-6xl space-y-2 py-24">
	{{ partial:components/section_title title="Past Events" url="false" description="Expert guides and tutorials to optimize your WordPress performance." }}
	{{ collection:events }}
		<a href="{{ url }}">
			<div class="flex flex-col">
				<div class="mb-6">
					<span
						class="dark:bg-neutral-800 bg-neutral-100 text-primary font-bold rounded px-3 py-1.5 inline-block">{{ date }}</span>
				</div>
				<h2 class="text-2xl font-bold text-white mb-2">{{ title }}</h2>
				<p class="text-neutral-400 line-clamp-2 mb-3">{{ description }}</p>
			</div>
		</a>
	{{ /collection:events }}
</section>
<!-- End: /page_builder/_past_events.antlers.html -->