{{#
    @name The Directory
    @desc The The Directory page builder block.
    @set page.page_builder.the_directory
#}}

<!-- /page_builder/_the_directory.antlers.html -->
<section id="directory" class="max-w-6xl px-4 pt-24 mx-auto space-y-2 md:px-6">
	{{ partial:components/section_title :title="title" url="true" :description="description" }}
	<div class="relative w-full py-3 mx-auto ">
		<div class="relative grid grid-cols-4 gap-4 px-4 py-2 mx-auto xl:grid-cols-6">
			{{ collection:migrants limit="12" }}
				{{ partial:components/person profile="true" }}
			{{ /collection:migrants }}
		</div>
		<div class="absolute inset-0 z-10 bg-gradient-to-t from-10% dark:from-[#18181A] from-[#FEF5F4] ">
		</div>
	</div>
</section>
<!-- End: /page_builder/_the_directory.antlers.html -->